#

In [1]:
import numpy as np
import pandas as pd

This Notebook demonstrates how to use our big dataset class

-----------------------------------------------------------------------------------------------------------

In [38]:
#Final big-ass table after the join....

,movie_id,title,date,genre,user_id,item_id,rating,timestamp,age,gender,occupation,zip_code
0,1,Toy Story (1995),01-Jan-1995,"[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",308,1,4,887736532,60,M,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
1,4,Get Shorty (1995),01-Jan-1995,"[0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",308,4,5,887737890,60,M,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
2,5,Copycat (1995),01-Jan-1995,"[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ...",308,5,4,887739608,60,M,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
3,7,Twelve Monkeys (1995),01-Jan-1995,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",308,7,4,887738847,60,M,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
4,8,Babe (1995),01-Jan-1995,"[0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",308,8,5,887736696,60,M,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,748,"Saint, The (1997)",14-Mar-1997,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",729,748,4,893286638,19,M,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",56567
99996,751,Tomorrow Never Dies (1997),01-Jan-1997,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",729,751,3,893286338,19,M,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",56567
99997,879,"Peacemaker, The (1997)",01-Jan-1997,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",729,879,3,893286299,19,M,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",56567
99998,894,Home Alone 3 (1997),01-Jan-1997,"[0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",729,894,1,893286511,19,M,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",56567
99999,901,Mr. Magoo (1997),25-Dec-1997,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",729,901,1,893286491,19,M,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",56567

In [3]:
from MovieLens import Movie_100K

In [4]:
dataset = Movie_100K()

In [5]:
dataset[1000:1003]

{'title': {1000: 'Dead Man Walking (1995)',
  1001: 'Seven (Se7en) (1995)',
  1002: 'Usual Suspects, The (1995)'},
 'date': {1000: array([1.        , 0.5       , 0.8660254 , 0.5       , 0.97952994]),
  1001: array([1.        , 0.5       , 0.8660254 , 0.5       , 0.97952994]),
  1002: array([ 1.        , -0.8660254 , -0.5       ,  0.8660254 , -0.95413926])},
 'genre': {1000: '[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]',
  1001: '[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0]',
  1002: '[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0]'},
 'user_id': {1000: 109, 1001: 109, 1002: 109},
 'item_id': {1000: 9, 1001: 11, 1002: 12},
 'rating': {1000: 3, 1001: 4, 1002: 4},
 'timestamp': {1000: 880564607, 1001: 880572786, 1002: 880577542},
 'age': {1000: 29, 1001: 29, 1002: 29},
 'gender': {1000: 1, 1001: 1, 1002: 1},
 'occupation': {1000: array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0.]),
  1001: array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0.]),
  1002: array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0.])},
 'zip_code': {1000: '55423', 1001: '55423', 1002: '55423'}}

In [6]:
pd.DataFrame(dataset[1:20])

,title,date,genre,user_id,item_id,rating,timestamp,age,gender,occupation,zip_code
1,Get Shorty (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0],308,4,5,887737890,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
2,Copycat (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0],308,5,4,887739608,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
3,Twelve Monkeys (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0],308,7,4,887738847,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
4,Babe (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0],308,8,5,887736696,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
5,Dead Man Walking (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0],308,9,4,887737194,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
6,Seven (Se7en) (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0],308,11,5,887737837,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
7,"Usual Suspects, The (1995)","[1.0, -0.8660254037844385, -0.5000000000000004...",[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0],308,12,5,887737243,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
8,Mr. Holland's Opus (1995),"[0.8, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0],308,15,3,887739426,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
9,From Dusk Till Dawn (1996),"[0.8, 0.8660254037844386, 0.5000000000000001, ...",[0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0],308,17,4,887739056,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
10,Antonia's Line (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0],308,19,3,887737383,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
11,Muppet Treasure Island (1996),"[0.8, 0.8660254037844386, 0.5000000000000001, ...",[0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0],308,21,3,887740729,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
12,Braveheart (1995),"[0.8, 0.8660254037844386, 0.5000000000000001, ...",[0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0],308,22,4,887737647,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
13,Taxi Driver (1976),"[0.8, 0.8660254037844386, 0.5000000000000001, ...",[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0],308,23,5,887737293,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
14,Rumble in the Bronx (1995),"[0.8, 0.8660254037844386, 0.5000000000000001, ...",[0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0],308,24,4,887738057,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
15,"Birdcage, The (1996)","[0.8, 1.0, 6.123233995736766e-17, -0.866025403...",[0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0],308,25,4,887740649,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
16,Apollo 13 (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0],308,28,3,887737036,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
17,Belle de jour (1967),"[6.6, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0],308,30,4,887738933,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
18,Crimson Tide (1995),"[1.0, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0],308,31,3,887739472,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076
19,Crumb (1994),"[1.2, 0.49999999999999994, 0.8660254037844387,...",[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0],308,32,5,887737432,60,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",95076

In [ ]:
# Correlation Analysis

Potentially useful variables by intuition:

Scheme 1
*Action space*
Each movie vector/id, which should include/be linked toï¼š
1. The titles of the movies: the similarity can be used as a criteria for recommendation
2. Year, title, genre, and tags, and average rating of the movie can help.

*Observations*
1. An user's average rating (related to the genre or not)
2. Some generization of the users' preference. (year, title, tags, average rating)

Reward = the actual rating of the user.

----------------------------------First explore the possible genres---------------------------------------

-----------------------------Next: the tags------------------------------
What someone is saying about the film. Can be understood as one sentense film criticism
Can be used for 1. sentiment analysis (may overlap with rating) 2. keyword extraction.

hat we potentially need in our model structure: 
something that can relate rating to subcategories
something that can relate user to keywords and subcategories